.login_form{
    background-image: url("../assets/image.png");
    background-size: cover;
    /* border: 2px solid black; */
    height: 88vh;
    color: white;
    width: 100%;
  backdrop-filter: blur(10px);
  
     position: relative;
}

form i{
    font-size: 80px;
    margin-top: 20px;
}

form{
    position: absolute;
     background-color: rgba(0, 0, 0, 0.4); /* must not be fully opaque */
  backdrop-filter: blur(10px);
    left: 25%;
     z-index: 1;
    width: 35%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 8%; 
    border-radius: 20px;
    margin-left: 7%;
    /* border: 2px solid white; */
    opacity: 0.8;
    box-shadow: 7px 7px 13px  black;
}

.heading{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    
}

input{
    margin-left: 17%;
    width: 66%;
    padding: 7px;
    border: none;
    border-bottom: 2px solid white;
    /* text-align: center; */
    color: beige;
    
    
}

.forget{
    margin-left: 20%;
}

.submit {
    border: 2px solid white;
    width: 65%;
    margin-left: 17%;
    margin-top: 7px;
    padding: 3px;
    transition: all 0.1s ease-in-out;
}

.submit:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

.Signup{
    text-align: center;
}