.login_form{
    background-image: url("../assets/login.png");
    border: 2px solid black;
    height: 88vh;
    color: white;
    width: 100%;
     
}

form{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10%; 
}

input{
    width: 60%;
    padding: 7px;
}

.submit {
    border: 2px solid black;
    width: 60%;
}