.signup_form{
    height: 88vh;
    background-image: url("../assets/signup.png");
    color: white;
    background-size: cover;
    border: 2px solid black;
}

.button1{
    margin-top: 20px;
    border: 2px solid white;
}